<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Musics</h3>
<p>
    <a th:href="@{/music/create}">
        Add new music
    </a>
</p>

<table id = "musics">
    <thead>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Artist</th>
        <th>TypeOfMusic</th>
        <th>FilePath</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musics}">
        <td th:text="${music.getId()}"></td>
        <td th:text="${music.getName()}"></td>
        <td th:text="${music.getArtist()}"></td>
        <td th:text="${music.getTypeOfMusic()}"></td>
        <td th:text="${music.getFilePath()}"></td>
        <td><a th:href="@{/music/{id}/edit(id=${music.getId()})}">edit</a></td>
        <td><a th:href="@{/music/{id}/delete(id=${music.getId()})}">delete</a></td>
        <td><a th:href="@{/music/{id}/view(id=${music.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>